<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysh.strawpoll.dao.UserDao">

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (name, password)
        VALUES (#{username}, #{password})
    </insert>
    <select id="selectByUsername" resultType="com.ysh.strawpoll.entity.User">
        SELECT id, name AS username, password
        FROM user
        WHERE name = #{username}
    </select>

</mapper>